.custom-fram{
    -fx-font-size			: 1.1em;
    -fx-font-family			: cursive;
	-fx-border-radius		: 20.0;
	-fx-border-width		: 2.0;
	-fx-border-color		: #000000;
	-fx-padding				: 4.0;
	-fx-background-color	: #FFFFFF;
	-fx-background-radius	: 20.0;
}

#currentLineTask {
	-fx-border-width		: 0.0 0.0 2.0 0.0;
	-fx-border-color		: #DCE1E8;
}

.modal {
    -fx-font-size			: 1.1em;
    -fx-font-family			: cursive;
	-fx-border-width		: 2.0;
	-fx-border-color		: #000000;
	-fx-background-color	: #FFFFFF;
	-fx-spacing				: 1.0;
	-fx-padding				: 2.0;
}

.task-color {
	-fx-stroke				: #000000;
	-fx-stroke-type			: inside;
}

.plugin-logo {
	-fx-border-radius		: 10.0;
	-fx-border-width		: 1.0;
	-fx-border-color		: #000000;
	-fx-padding				: 1.0 3.0 1.0 3.0;
}

.plugin-list {
	-fx-spacing       		: 3.0;
}

/* ------------------------------------------------------ */
/* button */
.button{
	-fx-padding				: 2.0;
}
.button:focused{
   -fx-background-color		: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
   -fx-background-insets	: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 2.0;
   -fx-background-radius	: 3.0px, 3.0px, 2.0px, 1.0px;
}
.button.close {
	-fx-graphic 			: url("img/close.png");
}
.button.minus {
	-fx-graphic 			: url("img/minus.png");
}
.button.plus {
	-fx-graphic 			: url("img/plus.png");
}
.button.trash {
	-fx-graphic 			: url("img/trash.png");
}
.button.save {
	-fx-graphic 			: url("img/save.png");
}
.button.play {
	-fx-graphic 			: url("img/play.png");
}
.button.pause {
	-fx-graphic 			: url("img/pause.png");
}
.button.stop {
	-fx-graphic 			: url("img/stop.png");
}
.button.refresh {
	-fx-graphic 			: url("img/refresh.png");
}
.date-picker > .arrow-button {
	-fx-padding				: 2.0;
}
.date-picker > .arrow-button > .arrow {
	-fx-max-width			: 24.0;
	-fx-max-height			: 24.0;
	-fx-min-width			: 24.0;
	-fx-min-height			: 24.0;
	-fx-pref-width			: 24.0;
	-fx-pref-height			: 24.0;
	-fx-shape 				: null ; 
	-fx-background-image 	: url("img/calendar.png");
	-fx-background-position : center;
	-fx-background-repeat	: space;
	-fx-background-color	: transparent;
}

/* ------------------------------------------------------ */
/* header */
.header .right {
	-fx-padding				: 2.0;
	-fx-spacing				: 1.0;
	-fx-alignment           : center-right;
}

.header .left {
	-fx-padding				: 2.0;
	-fx-spacing				: 2.0;
	-fx-alignment           : center-left;
}

/* ------------------------------------------------------ */
/* current-tasks */
.current-tasks {
	-fx-padding				: 0.0 2.0 2.0 2.0;
}

/* ------------------------------------------------------ */
/* sub-part */
.sub-part .tab-header-area .tab-header-background {
	-fx-background-color	: #FFFFFF;
}

.sub-part {
    -fx-tab-min-width		:80.0;
}

.sub-part .sub-part-tab {
    -fx-background-color	: #FFFFFF;
    -fx-border-color		: #DCE1E8;
    -fx-border-radius		: 5.0 5.0 0.0 0.0;
    -fx-focus-color			: transparent;
    -fx-faint-focus-color	: transparent;
}

.sub-part .sub-part-tab .tab-label { 
    -fx-alignment			: CENTER;
    -fx-text-fill			: #828282;
    -fx-font-size			: 12.0;
    -fx-font-weight			: bold;
}

.sub-part .sub-part-tab:selected {
    -fx-background-color	: #E6E6E6;
    -fx-border-color		: #282A2D;
}

.sub-part-contener {
	-fx-padding          	: 0.0 2.0 2.0 2.0;
}

/* ------------------------------------------------------ */
/* sub-part summary */
.sub-part-summary {
    -fx-padding				: 7.0;
}

.sub-part-summary .stacked-bar-chart-with-marker {
    -fx-legend-visible      : false;
    -fx-vertical-grid-lines-visible : false;
}

.sub-part-summary .chart-content {
    -fx-padding				: 0.0;
}


/* ------------------------------------------------------ */
/* sub-part sessions */
.sub-part-sessions {
	-fx-background-color	: #FFFFFF;
	-fx-spacing       		: 2.0
}

.sub-part-sessions .day {
	-fx-border-radius		: 5.0;
	-fx-border-color		: #47494c;
	-fx-border-width		: 2.0;
}

.sub-part-sessions .date {
	-fx-font-size			: 1.2em;
	-fx-background-color	: #E6E6E6;
	-fx-background-radius	: 5.0 5.0 0.0 0.0;
	-fx-padding				: 0.0 2.0 0.0 2.0;
	-fx-spacing       		: 10.0;
	-fx-alignment			: bottom-left;
}

.sub-part-sessions .date .duration {
	-fx-font-size			: 1.0em;
}

.sub-part-sessions .session-line {
	-fx-background-color	: #FFFFFF;
	-fx-border-insets       : 2.0 0.0 0.0 0.0;
    -fx-border-color		: #DCE1E8;
    -fx-border-width		: 0.0 0.0 1.0 0.0;
    -fx-padding				: 0.0 2.0 0.0 2.0;
}

.sub-part-sessions .session-last {
	-fx-background-radius	: 0.0 0.0 5.0 5.0;
	-fx-border-radius		: 0.0 0.0 5.0 5.0;
}

/* ------------------------------------------------------ */
/* modal sessions */
.modal-session .date-line {
	-fx-spacing				: 1.0;
	-fx-alignment           : center;
}

.modal-session .custom-grid {
	-fx-hgap     			: 2.0;
}

/* ------------------------------------------------------ */
/* sub-part tasks */
.sub-part-tasks .task-line .hbox {
	-fx-spacing				: 2.0;
	-fx-alignment           : center-left;
}
.sub-part-tasks .task-line .duration-label {
	-fx-duration-format 	: "%oWd%%woHh%%poMm%%poSs%";
}

.sub-part-tasks .label {
	-fx-padding				: 1.0 0.0 0.0 0.0;
}

/* ------------------------------------------------------ */
/* modal task */
.modal-task .line {
	-fx-padding				: 1.0;
	-fx-spacing				: 2.0;
	-fx-alignment           : center-left;
}
